<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %30.40c{1.} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="logs/dukaan-user-app.log"
                     filePattern="logs/$${date:yyyy-MM}/user-app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d [%t] %-5level %30.40C{1.} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="com.dukaan" level="info"/>
    </Loggers>

</Configuration>